@using ExpendituresALevel.Models
@model IEnumerable<TransactionModel>
@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

@{
    foreach (var category in Model)
    {
        Html.RenderPartial("/Views/Transaction/_TransactionData.cshtml", category);
    }
}

<p>
    @Html.ActionLink("Back to List", "Transactions")
</p>
<p>
    @Html.ActionLink("Create a transaction", "Create")
</p>

